<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin Sign in</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body background="/img/signin.jpg" style="background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right " >
          <!-- 6 -->
          <li class="nav-item" id="home"><a href="/">HOME</a></li>
        </ul>
    </div>
    </div>
  </nav>
  <div class="form-center">

    <form action=" " method="post" rows="5" >
        <div class="form-group" style="height:300px;width:500px;font-size:15px;">
            
          <label >Name </label>
          <input type="text" class="form-control" name="adname" aria-describedby="emailHelp" style="width:70%;">
        
            <br><br>
          <label >Password </label>
          <input type="password" class="form-control" name="adpassword" aria-describedby="emailHelp" style="width:70%;">
        <br>
        <button type="submit" class="btn btn-primary" style="background-color:#FF8D29 ;width:20%;padding:10px;border:none;text-align: center;">Submit</button>
      </form>
    
    </div>
    
       </form>
    
  </div>

  <div class="container-fluid text-center" style="background-color:#F6C6EA;border-radius:10px;">
    <p><i class="fab fa-twitter fa-2x footerp  fa-2x" style="margin-left:30px;color:#C70A80;"></i><i style="margin-left:30px;color:#C70A80;" class="fab fa-facebook-f fa-2x footerp "></i><i class="fab fa-instagram footerp  fa-2x" style="margin-left:30px;color:#C70A80;"></i><i class=" fas fa-envelope footerp fa-2x" style="margin-left:30px;color:#C70A80;"></i></p>
    <p style="color:grey;">© Copyright 2022 Daily Journal</p>
  
   </body>
   </html>
     
     
     
