<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Eczar&family=Rubik:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



  <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
  <!-- navbar  -->
  <nav class="navbar navbar-default" style="padding-bottom:10%;position:static;padding-top:60px;"> 
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" >DAILY JOURNAL</p>
      </button>
    </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right " >
          <!-- 6 -->
          <li class="nav-item" id=""><a href="/signin">SIGN IN</a></li>
          <li class="nav-item" id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
    </div><br>
    <h1 style="text-align: center;font-family:'Dancing Script', cursive ;letter-spacing:0;color:#C70A80">Publish your passions, your way</h1>
    <p style="text-align:center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;letter-spacing:0;color:grey;font-size:20px;">Create a unique and beautiful blog easily.</p>
   <br><br>
   <center>
    <a href="/signup" style="text-decoration: none;">
      <button type="submit" class="btn  " style="background-color:#FF8D29;padding:10px 20px;color:white;font-size:18px;">Get Started</button></center>

    </a>
  

  </nav>
  <section id="features" class="white-section">
    <div class="row text-center">

    <div class="col-xl-4 col-md-12 feature-box "  >
    <i class="fas fa-check-circle fa-4x "  id="emoji" ></i>
    <h3>Easy to use.</h3>
    <p>So easy to use, even your dog could do it.</p>
    </div>
   
    <div class="col-xl-4 col-sm-12 feature-box" >
    <i class="fas fa-bullseye fa-4x"  id="emoji" ></i>
    <h3>Elite Clientele</h3>
    <p>We have all the requirement that you need.</p>
    </div>

  <div class="col-xl-4 col-sm-12 feature-box" >
  <i  class="fas fa-heart fa-4x" id="emoji" ></i>
  <h3>Love Postings.</h3>
  <p>You can edit or delete whatever you want .</p>
   </div>
  </div>
</div>
</section>

<div class="container-fluid text-center" style="background-color:#F6C6EA;border-radius:10px;">
  <p><i class="fab fa-twitter fa-2x footerp  fa-2x" style="margin-left:30px;color:#C70A80;"></i><i style="margin-left:30px;color:#C70A80;" class="fab fa-facebook-f fa-2x footerp "></i><i class="fab fa-instagram footerp  fa-2x" style="margin-left:30px;color:#C70A80;"></i><i class=" fas fa-envelope footerp fa-2x" style="margin-left:30px;color:#C70A80;"></i></p>
  <p style="color:grey;">© Copyright 2022 Daily Journal</p>



  </body>
